USE [master]
GO
/****** Object:  Database [itsolution2025]    Script Date: 1/22/2026 5:15:32 PM ******/
CREATE DATABASE [itsolution2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'itsolution2025', FILENAME = N'c:\databases\itsolution2025\itsolution2025.mdf' , SIZE = 8192KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'itsolution2025_log', FILENAME = N'c:\databases\itsolution2025\itsolution2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [itsolution2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [itsolution2025]
GO
/****** Object:  Table [dbo].[student]    Script Date: 1/22/2026 5:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[age] [int] NOT NULL,
	[email] [varchar](255) NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/22/2026 5:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([id], [age], [email], [name]) VALUES (27, 20, N'admin@example.com', N'Khánh')
INSERT [dbo].[student] ([id], [age], [email], [name]) VALUES (52, 0, N'user1@example.com', N'12')
SET IDENTITY_INSERT [dbo].[student] OFF
GO
USE [master]
GO
